---
---
$s2: 0.5rem;
$s3: 1rem;
$s4: 2rem;
$br2: 0.25rem;

.helvetica {
  font-family: 'helvetica neue', helvetica, sans-serif;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.pa2 {
  padding: $s2;
}
.pv2 {
  padding-top: $s2;
  padding-bottom: $s2;
}
.ph3 {
  padding-left: $s3;
  padding-right: $s3;
}
.br2 {
  border-radius: $br2;
}

.flex {
  display: flex;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-column {
  flex-direction: column;
}
@media screen and (min-width: 30em) {
  .flex-ns {
    display: flex;
  }
  .item-center-ns {
    align-items: center;
  }
}
