%header
	#logo
		%h1
			%a{ :href=> "/"}
				%span.andrew Andrew
				%span.pilsch Pilsch
			%span.courses Courses
	#filters
		%h1 See Content Related To:
		= partial "courses/course_filters"
#box_container
	= partial "courses/print_courses"