---
layout: null
---
{% assign box_style="pointer overflow-auto min-h-col-1 bg-white pa1 ma-custom ba bb-thick br2 b--custom-gray" %}
{% assign filter_style="bb-thick pointer link br2 ba ph3 pv2 mr1 mb2 b--custom-gray black hover-bg-custom-gray" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  {% seo title=false %}
  {% include css.html %}
</head>

<body class="bg-white black scroll-smooth pa2 roboto">
  <header class="flex-ns items-center-ns bg-white">
    <!-- Logo -->
    <div id="logo" class="w-20-l">
      <h1 class="ttu lh-solid f1-ns f2 mv0 ml2-ns">
        <a href="{{site.url}}" class="black no-underline hover-black no-underline-hover">
          <span class="andrew db">Andrew</span>
          <span class="pilsch db">Pilsch</span>
        </a>
      </h1>
    </div>
    <!-- /Logo -->

    <!-- Filters -->
    <div class="f5-ns f6 mv0-ns mt2 w-80-l pl4-ns pl0">
      <h1 class="f5 mt0 mb1">See Content Related To:</h1>
      <ul id="filters" class="list pl0 mv0">
        {% include filter.html active=true target="*" label="All" %}
        {% include filter.html target=".research" label="Research" %}
        {% include filter.html target=".teaching" label="Teaching" %}
        {% include filter.html target=".blog" label="Blog" %}
        <li class="filter dn {{ filter_style }}" id="close-all">Close All</li>
      </ul>
    </div>
    <!-- /Filter -->
  </header>

  <!-- Grid -->
  <div class="mt4 mb5" id="grid">
    <!-- About this site -->
    <div id="about" class="box w-col-2 research teaching blog lh-copy {{ box_style }}">
      {% capture about_html %}{% include about.md %}{% endcapture %}
      {{ about_html | markdownify }}
    </div>
    <!-- /About -->
    <!-- Books -->
    {% for book_hash in site.data.research.books %}
    {% assign book = book_hash[1] %}
    {% include box.html big=true type="book" content=book %}
    {% endfor %}
    <!-- /Books -->
    <!-- CV -->
    <div id="cv" class="box w-col-1 research teaching expand {{ box_style }}">
      <div class="thumbnail flex min-h-col-1 flex-column">
        <h1 class="cv-thumbnail self-center normal mv0">CV</h1>
        <p>View my CV.</p>
      </div>
      <div class="content measure-cv center">
        <div class="cv-preamble db-ns dn">
          {% include cv.preamble.html %}
        </div>
        <div class="cv-content db-ns dn">
          {% capture cv %}{% include cv.md %}{% endcapture %}
          {{ cv | markdownify }}
        </div>
        <h2 class="dn-ns">CV</h2>
        <p class="lh-copy">
          <a href="cv/cv.pdf">View a PDF of my CV.</a>
        </p>
      </div>
    </div>
    <!-- /CV -->
    <!-- Teaching Philosophy -->
    {% include box.html type="teaching" content=site.data.teaching.teaching-philosophy %}
    <!-- /Teaching Philosophy -->
    <!-- Articles -->
    {% for article_hash in site.data.research.articles %}
    {% assign article = article_hash[1] %}
    {% if article.front_page == true %}
    {% include box.html type="article" content=article %}
    {% endif %}
    {%endfor%}
    <!-- /Articles -->
    <!-- Other Research -->
    {% for other_hash in site.data.research.other %}
    {% assign other = other_hash[1] %}
    {% if other.front_page == true %}
    {% include box.html type="other" content=other %}
    {% endif %}
    {%endfor%}
    <!-- /Other Research -->
    <!-- Blog Posts -->
    {% blog_posts %}
    <!-- /Blog Posts -->
    <!-- Presentations -->
    {% for presentation_hash in site.data.research.presentations %}
    {% assign presentation = presentation_hash[1] %}
    {% if presentation.front_page == true %}
    {% include box.html type="presentation" content=presentation %}
    {% endif %}
    {%endfor%}
    <!-- /Presentations -->
    <!-- About Site -->
    {% include box.html type="info" content=site.data.about-site %}
    <!-- /About Site -->
    <!-- Courses -->
    {% current_courses %}
    {% include box.html type="course" content=site.data.all-courses %}
    <!-- /Courses -->
  </div>
  <!-- /Grid -->

  <div class="column-size"></div>
  <div id="help" class="bg-black-40 white fixed bottom-0 left-0 right-0 o-0 dn z-5">
    <h1 class="mv3 lh-copy tr f3-ns f5 pr2">
      Click on any of the boxes marked with a "+" to read more.
    </h1>
  </div>
  {% include js.html %}
</body>

</html>
