.content
	%h1.role Site Information
	%h2.role Copyright Information
	:markdown
		&copy; 2013 Andrew Pilsch. All Rights Reserved

	%h2.role Site Design Information
	%p
		%a.about_site_link Read How This Blog Was Made.
	.about_site
		= partial "blog/about_site"