/* Goldilocks Approach to Responsive Web Design Boilerplate
 *
 * Author: Design by Front - @designbyfront
 * Version: 0.1
 * URL: http://www.goldilocksapproach.com
 * ----------------------------------------------------------------------------------------
 *
 * CONTENTS - GLOBAL.CSS
 * -----------------------------------------
 * 1. RESET
 * 2. ROOT
 * 3. CORE TYPOGRAPHY
 * 4. LINKS
 * 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
 * 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
 * 7. BROWSER AND NON-SEMANTIC STYLING
 *
 * CONTENTS - LAYOUT.CSS
 * -----------------------------------------
 * 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
 * 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear) 
 *
 */

// Modular Scale: http://modularscale.com/scale/?px1=16&px2=40&ra1=1.618&ra2=0

@import "bear_defaults";

/* 1. RESET
 * ---------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import "normalize";

/* 2. ROOT
 * ---------------------------------------------------------------------------------------- */
html {
	overflow-y: scroll;
	background: $bodyBackgroundColor;
}

body {
	margin: $leading / 2 {
		bottom: 4 * $leading;
	};
}

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
img, embed, object, video {
	max-width: 100%;
}

.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video {
	width: 100%;
}

/* These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection {
	background: $textSelectionColor;
	color: white;
	text-shadow: none;
}

::selection {
	background: $textSelectionColor;
	color: white;
	text-shadow: none;
}

*, *:before, *:after {
	@include box-sizing(border-box);
	z-index: auto;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px transparent;
}

/* 3. CORE TYPOGRAPHY
 * ---------------------------------------------------------------------------------------- */
@import "libraries/typebase";

body {
	font: {
		family: $bodyFontFamily;
		size: 1em;
		weight: $bodyFontWeight;
	};
	line-height: $leading;
	color: $bodyFontColor;
}

h1, h2, h3, h4, h5, h6 {
	font: {
		family: $headerFontFamily;
		weight: $headerFontWeight;
	};
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.8rem;
}

dl {
	margin-top: $leading;
	dt,dd {
		line-height: $leading;
	}
	dd {
		margin-left: $leading;
	}
}

nav ul, nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol,ul {
	margin-left: $leading;
}

b, strong {
	font-weight: 700;
}

i, em {
	font-style: italic;
}

small {
	font-size: 80%;
}

big {
	font-size: 120%;
}

/* 4. LINKS
 * ---------------------------------------------------------------------------------------- */
a {
	color: $bodyLinkColor;
	text-decoration: none;
	outline: none;
	@include transition(color 0.2s ease-out, background-color 0.2s ease-out);
}

a:hover {
	text-decoration: none;
	color: $bodyLinkHoverColor;
}

a:active, a:focus {
	outline: none;
}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
 * ---------------------------------------------------------------------------------------- */

img.center {
	display: block;
	margin: 0 auto;
}

p.single-spaced {
	line-height: 1;
}

.content {
	width: 100%;
	margin: auto;
	@include clearfix;
}

#filters {
	font: {
		size: 0.9rem;
	};
	h1 {
		font: {
			size: 1em;
			weight: bold;
		};
		line-height: 1;
	}
	ul {
		@include clearfix;
		list-style: none;
		padding: 0;
		filter: none;
		text-shadow: none;
		font: {
			family: $headerFontFamily;
			weight: 400;
		};
		li {
			display: inline-block;
			a {
				padding: 0.5em;
				@include button(simple, $buttonColor);
				font-size: 1em;
				&.selected {
					@include button(simple, $buttonSelectedColor);
					font-size: 1em;
				}
			}
		}
	}
}

.box {
	background: $bodyBackgroundColor;
	&.expanded {
		z-index: 2;
	}
}

/* Social Badges!
 */

.social_badges {
	text: {
		align: center;
	};
	a {
		color: $socialBadgeColor;
		background: $socialBadgeBackgroundColor;
		display: inline-block;
		text: {
			align: center;
		};
		vertical: {
			align: middle;
		};
		border: 1px solid $socialBadgeBorderColor;
		margin: {
			left: 0.25rem;
			right: 0.25rem;
			top: 25px;
		};
		&:hover {
			color: $socialBadgeHoverColor;
			background: {
				color: $socialBadgeHoverBackgroundColor;
			};
		}
		&:first-child {
			margin: {
				left: 0;
			};
		}

		i {

		}
	}
	.no-fontface {
		display: none;
	}
}

.box.no-click {
	cursor: default !important;
}

html.no-fontface {
	.social_badges {
		.no-fontface {
			display: block;
			ul {
				padding: 0;
				margin: 0;
				list: {
					style: none;
				};
				li {
					a {
						font: {
							size: 1.75em;
						};
						line: {
							height: 1.618em;
						};
						display: inline-block;
					}
				}
			}
		}
	}
}

/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
 * ---------------------------------------------------------------------------------------- */

h1,h2,h3,h4 {
	text-align: center;
}

.content {
	max-width: $babyBearColumnSize;
}

.no-mobile {
	display: none;
}

.hideable {
	display: none;
}

.box {
	h1, h2 {
		line-height: 1;
	}
	h2 + h1 {
		margin-top: 0;
	}
}

.col1, .col2, .col3, .col4 {
	width: 100%;
	img {
		max-width: 90%;
		display: block;
		margin: 0 auto;
	}
}

.mobile {
	& + h1 {
		margin-top: $leading / 2;
		line-height: 1;
	}
}

.colh1 {
	height: $colh1;
}

.colh2 {
	height: $colh2;
}

.colh3 {
	height: $colh3;
}

.colh4 {
	height: $colh4;
}

#logo {
	float: none;
	margin: {
		top: 6.5rem;
		bottom: 2rem;
	};
	width: 100%;
	a {
		color: black;
		&:hover {
			text: {
				decoration: none;
			};
		}
	}
	h1 {
		@include logotype(0.75rem);
		margin-top: -0.75rem;
	}
}

#filters {
	display: block;
	position: fixed;
	background: $bodyBackgroundColor;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	h1 {
		margin: 0 {
			top: $leading / 2;
		};
	}
	ul {
		margin: 0 {
			top: $leading;
			bottom: $leading / 2;
		};
		text-align: center;
		li {
			margin: $leading / 32;
		}
	}
}

#cv_html {
	display: none;
}

#cv {
	.links {
		margin-top: $leading;
		text-align: center;
	}
}

div.mobile {
	display: block;
}

#help {
	display: none;
}

/* 7. BROWSER AND NON-SEMANTIC STYLING
 * ---------------------------------------------------------------------------------------- */

.clearfix {
	@include clearfix;
}

// HTML 5 Boilerplate Print Code

@media print {
	// Black prints faster: h5bp.com/s
	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
	a {
		text-decoration: underline;
		&:visited {
			text-decoration: underline;
		}
		&[href]:after {
			content: " (" attr(href) ")";
		}
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	// Don't show links for images, or javascript/internal links
	.ir a:after {
		content: "";
	}
	a {
		&[href^="javascript:"]:after, &[href^="#"]:after {
			content: "";
		}
	}
	pre, blockquote {
		border: 1px solid #999999;
		page-break-inside: avoid;
	}
	// h5bp.com/t
	thead {
		display: table-header-group;
	}
	tr {
		page-break-inside: avoid;
	}
	img {
		page-break-inside: avoid;
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}
