!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>		<html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>		<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
	<!--<![endif]-->
	%head
		-locals = {}
		- if defined? tagname then locals[:tagname] = tagname end
		- if defined? page_type
			- locals[:page_type] = page_type
			- case page_type
				- when 'day'
					- locals[:year] = year
					- locals[:month] = month
					- locals[:day] = day
				- when 'month'
					- locals[:year] = year
					- locals[:month] = month
				- when 'year'
					- locals[:year] = year
		=partial "blog/pageinfo", :locals => locals
	%body
		%section#blog
			=partial "blog/header"
			.article
				= find_and_preserve do
					=yield
				=partial "blog/javascript"