!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>		<html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>		<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
	<!--<![endif]-->
	%head
		=partial "blog/pageinfo"
	%body
		%section#blog
			=partial "blog/header"
			.articles
				= find_and_preserve do
					=partial "blog/article", :locals => { :short => false, :article => current_page, :index => nil }
		=partial "blog/javascript"
