<!-- Begin #about-->
<div id="about" class="box col2">
	<h1>About</h1>
	<% markdownERB do%>
I am an Assistant Professor at [Texas A&M](http://www.tamu.edu) in the [English Department](http://www.english.tamu.edu/). My current research project focuses on the [rhetoric of transhumanism](#transhumanism), but I am broadly interested in the reshaping of rhetoric, discourse, and identity in the face of digital technologies. My research and pedagogical work touches on facets of digital rhetoric, digital humanities, emerging media, and technical communications.

* [View my ORCID Profile](http://orcid.org/0000-0002-4574-9387)
* [View my Amazon Author Page](https://amazon.com/author/andrewpilsch)
* [View my Google Scholar Profile](https://scholar.google.com/citations?hl=en&user=QpZ-KiMAAAAJ)
	<%end%>
</div>
<!--End #about-->