<% if build?
	require 'open-uri'
	require 'json'
	JSON.parse(URI.parse("http://andrew.pilsch.com/blog/frontpage.json").read).each do |article| %>
	<div class="box col1 blog" data-uri="<%=article['url']%>">
		<h2>Recent <br> Blog Post</h2>
		<h1><%=article['title']%></h1>
		<%= article['summary']%>
	</div>
	<% end
end %>
			