<!--Begin #cv-->
<div id="cv" class="expand col1 box research teaching">
	<div class="hideable">
		<h1 class="cv">CV</h1>
		<p>View my CV.</p>
	</div>
	<div class="expandable">
		<h1 id="cv_title">CV</h1>
		<div id="cv_html">
			<div class="cv-preamble"><%=partial "cv/preamble"%></div>
			<div class="rendered-cv">
				<%= concat Tilt['markdown'].new(config[:markdown]) { IO.read("source/cv/_src.md").split(/^\.\.\.$/)[1] }.render(app) %>
			</div>
			<hr>
		</div>
		<div class="links">
			<a href="http://andrew.pilsch.com/cv/cv.pdf">Download a PDF Version of my CV</a>
		</div>
	</div>
</div>
<!--End #cv-->
		