
/ Begin #podcasting

#podcasting.expand.col1.box.teaching
	.hideable
		= inline_image "images/thumbs/podcasting.png", width: "240", height: "177", alt: "Podcasting Logo (RSS Icon w/ Headphones)"
		%h1 Podcasting
		%p Read about my use of podcasting in the humanities classroom ...
	.expandable
		:markdown
			# Humanities Podcasting #
			
			While teaching at [Arizona State](http://sls.asu.edu/ihc), I used podcasting for online sections of American literature and several digital humanities classes. This technology facilitates an engaged discussion forum within the context of an asynchronous classroom format.
			
			You can view an archive of one of my recent class's podcasts [by clicking here](http://andrew.pilsch.com/eng204/podcast). 
			
/ End #podcasting