.box.col1.teaching.no-mobile
	.mobile
		%h1 Currently Teaching
	.no-mobile
		%h3 Classes Taught
		:markdown
			The classes I am currently teaching are displayed on this page. To see all of the courses I have taught at A&M and ASU, click below:
		%p{:style=>"text-align: center"}
			=link_to "All My Classes", "#", :id => "teaching_button"
		
		:markdown
			A list of all the classes I've taught (including graduate school) can be seen on my [CV](#cv).