---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Andrew Pilsch - CV</title>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/cv.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/tachyons-custom.min.css">
  <style>
  </style>
</head>

<body class="cv_standalone roboto bg-white black">
  <div class="cv-preamble">
    {% include cv.preamble.html %}
  </div>
  <div class="cv-content">
    {% capture cv %}{% include cv.md %}{% endcapture %}
    {{ cv | markdownify }}
  </div>
</body>

</html>