/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
 ----------------------------------------------------------------------------------------*/
@import bear_defaults

//@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic)

$max-width: $mommyBearMaxWidth

#blog
	@include outer-container()
	
	& > header
		h2
			position: relative
			display: block
			margin:
				top: $leading / 2
			font:
				family: $bodyFontFamily
				weight: $bodyFontWeight
				size: 1.5rem
				style: italic
			color: $subtitleColor
			line-height: 1
			text-align: center
			.line
				display: inline
				&:nth-child(2):after
					content: " &"
					font:
						style: normal
	nav
		display: block
		text-align: center
		margin: $leading 0
		ul
			margin-bottom: 0
			display: inline-block
			position: relative
			& > li
				display: inline-block
				list-style: none
			
				a, a:visited
				
					text-decoration: none
					color: $contactIconColor
					&:hover
						color: $linkHoverColor
					&:before
						@include genericons
						font-size: 2.5rem
					&.twitter:before
						content: '\f202'
					&.github:before
						content: '\f200'


/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
 ----------------------------------------------------------------------------------------*/
@include media($daddyBearMQ)
	$max-width: $daddyBearMaxWidth
	#blog
		@include outer-container()
		& > header
			@include span-columns(3)
			h1
				font-size: 0.75rem
			padding: 0 $leading / 4
			h2
				text-align: right
				margin:
					top: $leading * 1.5
				.line
					display: block
					&:nth-child(2), &:nth-child(3)
						margin-right: 2rem
					&:nth-child(2):after
						display: block
						position: absolute
						right: 0
						bottom: 0px
						font:
							size: 2em
							family: "Helvetica", Arial
							weight: 100
		nav
			position: fixed
			bottom: 1 * $leading
			@include span-columns(2.5)
			@include omega
			margin: 0
						
		.articles
			@include span-columns(8.75)
			@include shift(0.25)
			@include omega