//@import fonts/icomoon/icomoon
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

$bodyFontFamily: "Roboto", $helvetica;
$bodyFontWeight: 400;
$headerFontFamily: $bodyFontFamily;
$headerFontWeight: 700;

$baseFontSize: 18;
$baseLineHeight: 1.5;
$scale: 1.05;
$leading: $baseLineHeight * 1rem;
