$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyFontFamily: "Roboto", $helvetica;
$bodyFontWeight: 400;
$headerFontFamily: $bodyFontFamily;
$headerFontWeight: 700;

$baseFontSize: 18;
$baseLineHeight: 1.5;
$scale: 1.05;
$leading: $baseLineHeight * 1rem;
