$daddyBearColumnSize: 60em;
$mummyBearColumnSize: 45em;
$babyBearColumnSize: 30em;

$columnWidth: 240px;
$columnHeight: 240px;
$columnMargin: 5px;
$columnBorder: 1px;
$columnPadding: 5px;

@function columnWidth($n: 1) {
	@return $columnWidth * $n + ($columnMargin + $columnBorder) * 2 * ($n - 1);
}

@mixin columnWidth($n: 1) {
	width: columnWidth($n);
}

@function columnHeight($n: 1) {
	@return $columnHeight * $n + ($columnMargin + $columnBorder) * 2 * ($n - 1);
}

@mixin columnHeight($n: 1) {
	height: columnHeight($n);
}

$col1: columnWidth(1);
$col2: columnWidth(2);
$col3: columnWidth(3);
$col4: columnWidth(4);

$colh1: columnHeight(1);
$colh2: columnHeight(2);
$colh3: columnHeight(3);
$colh4: columnHeight(4);

$expandableHeight: $colh2;
$expandableWidth: $col3;

$minimumNumberOfColumns: 1;
$minimumContentWidth: $minimumNumberOfColumns * ($col1 + ($columnMargin + $columnBorder) * 2);

$sidebarWidth: 40px;
$sidebarPadding: 0px;
