- if paginate and (next_page or prev_page)
	#things
		%h2 Read On:
		#previous_thing
			- if next_page
				%p
					= link_to("Older Articles", next_page.url)
		#next_thing
			-if prev_page
				%p
					= link_to("New Articles", prev_page.url)