.content
	%h1.role Site Navigation
	%p
		- if current_page.url == blog.options.prefix or current_page.url == "#{blog.options.prefix}/index.html"					
			%a.icon_fast_backward{ :href => "/" }
				andrew.pilsch.com
		- else
			%a.icon_fast_backward{ :href => "/blog/"}
				andrew.pilsch.com / blog
	%form.search
		%label{ :for => "nav_search_term" }
			Search: 
		%input{ :id => "nav_search_term", :class=>"search_term", :type => "search", :placeholder => "Search...", :required => "required" }/
	%p
		Subscribe: 
		%a.icon_rss{ :href=> "/blog/rss.xml" }