---
title: About This Blog
layout: blog
---

.articles
	%article#post
		%header
			%h2.title About This Blog
		.article_body
			:markdown
				
				I find, as I finish up my [book manuscript](http://andrew.pilsch.com/#transhumanism), that I have more ideas than time to expand them into articles or new projects. Moreover, a lot of these aren't even things that would be expandable into a thesis-driven, critical essay. At the same time, they aren't snappy enough to encapsulate in 140 characters for posting on [Twitter](http://twitter.com/oncomouse). As such, I started this blog to capture these "middle ideas" and share them with other people. Really, I'm trying an experiment in idea sharing, instead of the culture of idea hoarding that, I think, came out of my time in graduate school. Now that I have more ideas than I can use, maybe it's time to put them in circulation.
			
				### Software Used
			
				This blog was made using [Middleman](http://middlemanapp.com) with [middleman-blog](http://middlemanapp.com/basics/blogging/) activated. Additionally, code highlighting is done by [middleman-syntax](https://github.com/middleman/middleman-syntax) and [Rouge](https://github.com/jneen/rouge). Related content is calculated using [middleman-blog-similar](https://github.com/ngs/middleman-blog-similar).
				
				HTML was created in [HAML](http://haml.info/) and [Markdown](http://daringfireball.net/projects/markdown/) (specifically using [kramdown's](http://kramdown.gettalong.org/) excellent Markdown extensions). Some design patterns copied from [Bootstrap](http://getbootstrap.com/). Icons are from [Genericons](http://genericons.com/).
				
				Stylesheets were made in [Sass](http://sass-lang.com/) with help from [Goldilocks](http://goldilocksapproach.com/) for responsive design, [Typebase](https://devinhunt.github.io/typebase.css/) for typography, [Bourbon](http://bourbon.io) for Sass tools, [Breakpoints](http://breakpoint-sass.com/) for setting breakpoints, and [Susy](http://susy.oddbird.net/) for grids. Highlighted code is styled using [Pygments](http://pygments.org/).
				
				Comments managed by [Disqus](http://disqus.com). Social media integration by [IFTTT](http://ifttt.com). Search provided by [Tipue Search](http://www.tipue.com/search/) with help from [jQuery](http://jquery.com).