---
layout: null
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="{{ site.url }}/assets/css/nf.css" rel="stylesheet" />
		<link href="{{ site.url }}/assets/css/site.css" rel="stylesheet" />
	</head>
	<body class="background--dots">
		<main>{{ content }}</main>
		<footer>
			<a href="https://neovim.io"
				><img src="assets/images/made-with-vi.gif"
			/></a>
			<img src="assets/images/noframes.gif" />
		</footer>
	</body>
</html>