#about_site.box.col1.expand.no-excerpt.no-mobile
	.hideable
		.magnifier
		%h1 About This Site
		%p
			= image_tag "thumbs/about_site.png", :alt => "Image depicting the site's source code."
		%p Software used in development.
	.expandable
		%h2 About This Site
		
		:markdown
			This site was built using the [Middleman](http://www.middlemanapp.com) static site generator. The HTML content was coded in [HAML](http://haml.info/) and [Markdown](http://daringfireball.net/projects/markdown/). The CSS code was coded in [SASS](http://sass-lang.com/), with help from [Bourbon SASS](http://bourbon.io) and [Compass](http://compass-style.org/).
			
			This site's javascript is powered by [head.js](http://headjs.com/) and [jQuery](http://jquery.com). The filtering and [masonry](http://designshack.net/articles/css/masonry/) effects are powered by [jQuery Isotope](http://isotope.metafizzy.co).
			
			The research and course information are stored in a flat-file collection of [YAML](http://www.yaml.org/) files, with the dynamic elements (the "All My Courses" button) powered by [PHP](http://www.php.net) and [spyc](https://code.google.com/p/spyc/).
			
			[Entypo pictograms](http://www.entypo.com) by Daniel Bruce. Responsive design using [The Goldilocks Approach](http://goldilocksapproach.com/). Some colors from [Solarized](http://ethanschoonover.com/solarized).
			
			The site was designed and coded by Andrew Pilsch.