/ Begin #about
#about.box.col1
	%h1 About
	:markdown
		I am an Assistant Professor at [Texas A&M](http://www.tamu.edu) in the [English Department](http://www.english.tamu.edu/). My current research project focuses on the [rhetoric of transhumanism](#transhumanism), but I am broadly interested in the reshaping of rhetoric, discourse, and identity in the face of digital technologies. My research and pedagogical work touches on facets of digital rhetoric, digital humanities, emerging media, and technical communications.
	
/ End #about