/ Begin #about
#about.box.col1
	%h1 About
	:markdown
		I am currently an Assistant Professor of English in [Arizona State's](http://www.asu.edu) [faculty of Interdisciplinary Humanities and Communication](http://sls.asu.edu/ihc), but I will be starting at [Texas A&M](http://www.tamu.edu) as an Assistant Professor in the [English Department](http://www.english.tamu.edu/) in Fall 2015. My current research project focuses on the [rhetoric of transhumanism](#transhumanism), but I am broadly interested in the reshaping of rhetoric, discourse, and identity in the face of digital technologies. My research and pedagogical work touches on facets of digital rhetoric, digital humanities, emerging media, and technical communications.
	
/ End #about