#about_site.box.col1.expand.no-excerpt.no-mobile
	.hideable
		%h1 About This Site
		%p
			= inline_image "images/thumbs/about_site.png", :alt => "Image depicting the site's source code."
		%p Software used in development.
	.expandable
		%h2 About This Site
		
		:markdown
			This site was built using the [Middleman](http://www.middlemanapp.com) static site generator. The HTML content was coded in [HAML](http://haml.info/) and [Markdown](http://daringfireball.net/projects/markdown/). The CSS was written in [SASS](http://sass-lang.com/), with help from [Bourbon SASS](http://bourbon.io) and [Typebase](https://devinhunt.github.io/typebase.css/).
			
			This site's javascript is powered by [jQuery](http://jquery.com). The filtering and [masonry](http://designshack.net/articles/css/masonry/) effects are powered by [Isotope](http://isotope.metafizzy.co). External resources are loaded via [LAB.js](http://labjs.com/). Components are managed by [Bower](http://bower.io/).
			
			The research and course information are stored in a flat-file collection of [YAML](http://www.yaml.org/) files, with the dynamic elements (the "All My Courses" button) powered by [PHP](http://www.php.net) and [spyc](https://code.google.com/p/spyc/).
			
			The PDF version of the CV is generated using [Pandoc](http://pandoc.org/) from a template derived from the [markdown-cv](https://github.com/tompollard/markdown-cv) repository.
			
			Responsive design using [The Goldilocks Approach](http://goldilocksapproach.com/). Some colors from [Solarized](http://ethanschoonover.com/solarized). Icons by [Genericons](http://genericons.com/)
			
			The site was designed and coded by Andrew Pilsch.