
/ Begin #cv

#cv.expand.col1.box.research.teaching
	.hideable
		%h1.cv CV
		%p View my CV.
	.expandable
		%h1#cv_title CV
		#cv_html
			= partial "cv-src"
			%hr
		.links
			:markdown
				[Download a PDF Version of my CV](http://pilsch.com/files/cv.pdf)
			
				[Download a LaTeX Version of my CV](http://pilsch.com/files/cv.tex)

/ End #cv
		