/ Begin #find_me
#find_me.box.col1
	%h2 Other Places to Find Me Online
	
	.social_badges
	
		%a.icon_twitter{ :href => "https://twitter.com/oncomouse", :target => "_blank", :title => "Find Me on Twitter" }
		%a.icon_github{ :href => "https://github.com/oncomouse", :target => "_blank", :title => "Find Me on GitHub" }
		%a.icon_rss{ :href => "/blog", :target => "_blank", :title => "Find Me on My Blog" }
		
		.no_fontface
			:markdown
				* [Twitter](https://twitter.com/oncomouse)
				* [GitHub](https://github.com/oncomouse)
				* [Blog](http://blog.pilsch.com)
/ End #find_me