/ Begin #future_research
#future_research.col1.expand.box.research
	.hideable
		%img( src="images/thumbs/future_research.png" width="240" height="173" )
		:markdown
			Descriptions of the two future projects I envision as follow-ups to the [transhumanism](#transhumanism) project.
	.expandable
		%h1 Future Research
		
		:markdown
			My future research plans follow the theoretical, methodological, and rhetorical insights of my [current project on transhumanism](#transhumanism).
		
		%h2 Code Collectives: Asynchronous Communities and The Rhetoric of Open-Source
		
		%h2 Speculative Rhetoric: Persuasion and Other Things

/ End #future_research