
/ Begin #podcasting

#podcasting.expand.col1.box.teaching
	.hideable
		.magnifier
		%img( src="images/thumbs/podcasting.png" width="240" height="177" alt="Podcasting Logo (RSS Icon w/ Headphones)" )
		%h1 Podcasting
		%p Read about my use of podcasting in the humanities classroom ...
	.expandable
		:markdown
			# Humanities Podcasting #
			
			I have been recently using podcasting in online classes at [ASU](http://sls.asu.edu/ihc) for some of my English literature and digital humanities classes. This technology facilitates an engaged discussion forum within the context of an asynchronous classroom format.
			
			You can view an archive of one of my recent class's podcasts [by clicking here](http://andrew.pilsch.com/eng204/podcast). 
			
/ End #podcasting