.box.col1.research.no-mobile
	%h3 Research
	:markdown
		Some of my recent publications and presentations, as well as ongoing and new projects, are presented on this page. To see my full research portfolio, click below:
	%p{:style=>"text-align: center"}
		=link_to "All My Research", "javascript: load_all_research();", :id => "research_button"