
/ Begin #speculative_rhetoric

#speculative_rhetoric.box.expand.research.col1
	.hideable
		%img( src="images/thumbs/speculative_rhetoric.png" width="240" height="182" )
		:markdown
			Article outlining the thesis of a proposed [future research project](#future_research).
		.magnifier
	.expandable
		.scrollable
			%h1 Speculative Rhetoric
			:markdown
				Article Currently Under Review at _[Enculturation](http://enculturation.net)_.

/ End #speculative_rhetoric				

				