
/Begin #teaching_philosophy

#teaching_philosophy.col1.box.expand.teaching
	.hideable
		.magnifier
		%p
			= image_tag "thumbs/teaching_philosophy.jpg", :width => 240, :alt => "Image of a typical classroom to illustrate my teaching philosophy."
		%h1 Teaching Philosophy
		%p My goals in teaching classes in both rhetoric and literature are intimately connected with my research interests.
	.expandable
		%h1 Teaching Philosophy
		:markdown
			_"His dream was not so much to give a lecture to humans as to provide a program for pure computers."&mdash;Gilles Deleuze & Felix Guattari,_ A Thousand Plateaus

			My goals in teaching classes in both rhetoric and literature are intimately connected with my research interests. In my dissertation, I write about "transhumanism," a discursive community aimed at grappling with humans as objects of ongoing evolutionary processes.  Often, these evolutionary processes have, specifically, to do with the evolutionary pressures exerted by new and emerging, digital technologies.  As such, my motivation as a teacher is to better equip my students to deal with these pressures.  Overall, I view my teaching as a chance to direct students in ways of living in a digital media ecology and preparing them for a future of ongoing, accelerating technological change.

			This goal expresses itself differently, depending on the class being taught.  For instance, in teaching Technical Communication, which I have done four times so far, I made an interesting discovery regarding my students and their attitudes towards writing.  In conducting classroom discussion, I found that, thanks to Penn State&#8217;s various internship and co-op programs, my students mostly had experience writing in a professional, scientific capacity. What they lacked, however, was basic knowledge of digital document production.  As such, I've retooled my teaching of this subject to focus on combining content production <em>and</em> document design.  In this fashion, students spend as much time focusing on <em>how</em> they write as on <em>what</em> they write.  The class includes assignments in both report writing and webpage design.  I find that students benefit more from this approach, as they can leave my course with marketable, new media skills in addition to a better understanding of the rhetorical stakes of technical writing.  More importantly, I stress the importance of developing digital problem solving strategies, rather than specific tool use, so that students in my classes can be better prepared for a changing, evolving digital workplace.

			My teaching of science fiction, which is a new experience for me, affords another opportunity for dealing pedagogically with the tenants of transhumanism.  Where the technical communications classroom becomes a workshop for applied transhumanism, I view the science fiction classroom as focusing on the philosophical implications of this discourse.  By focusing on close analysis of various texts that grapple with the nature of a radically altered future, I attempt to direct students toward thinking seriously about the ethical, moral, and philosophical issues raised by the rapid technological change experienced by the United States following World War II (which corresponds to the high point of American SF).  Additionally, as many of these processes of change and acceleration are ongoing (especially with regards to emerging Internet technologies and mobile computing), I view science fiction pedagogy as an opportunity to raise my students' awareness that the issues raised in SF are, increasingly, being raised in their lives and their futures.

			In both of these cases, I find focusing on the ongoing evolution of the human condition, by viewing my pedagogy from a transhuman perspective, both personally rewarding and hugely beneficial to my students in the classroom and beyond.  While also helping them learn the course material at hand, my transhuman perspective allows students to step out of the classroom and the university with highly valuable "take-away" skills that can be applied in their future lives as students and as professionals.  As such, I look forward to continue to explore this perspective in new and exciting pedagogical environments.
			
/ End #teaching_philosophy