
/ Begin #transhumanism

#transhumanism.expand.col1.box.research
	.hideable
		%img{:src => "images/thumbs/transhumanism.png", :width => "240"}
		%h1 Current Book Project
		%p.description
			My current book project is on the rhetoric of the transhuman movement.
		.magnifier
	.expandable
		%h1.hidden Transhumanism: Evolutionary Futurism and Digital Utopia
		%p Project traces the 
		
/ End #transhumanism